# Hey Emacs, this is a -*- sh -*- file
## .inputrc --- my Readline Init File

# Copyright (C) 2005-2020 Fabrice Niessen

# Author: Fabrice Niessen <(concat "fniessen" at-sign "pirilampo.org")>
# Keywords: readline, dotfile, config

# -- Variable Settings ---------------------------------------------------------

# Ignore case while completing filenames.
set completion-ignore-case on

# Treat hypens and underscores as the same if completion-ignore-case is on.
set completion-map-case on

# Allow Meta (Alt) key bindings [line added to the top of my `.inputrc'].
set convert-meta on

# Don't strip characters to 7 bits when reading (permit UTF-8).
set input-meta on

# Denote symlinks to directories with an appended slash.
set mark-symlinked-directories on

# Do not autocomplete hidden files unless the pattern begins with a dot.
set match-hidden-files off

# Display characters with the 8th bit set directly rather than as meta-prefixed
# characters (permit UTF-8).
set output-meta on

# # Show all autocomplete results at once instead of via the internal pager.
# set page-completions off

# List all matches in case multiple possible completions are possible.
set show-all-if-ambiguous on

# Factor any text after the cursor position into completion matching.
set skip-completed-text on

# Show extra file information when completing similar to `ls -F`.
set visible-stats on

# -- Key Bindings --------------------------------------------------------------

# 1 Commands For Moving

# Set <C-left/right> to move by whole words.
"\e[1;5C": forward-word
"\e[1;5D": backward-word

# 2 Commands For Manipulating The History

# <C-up/down> for searching matching commands from the history.
"\e[1;5A": history-search-backward
"\e[1;5B": history-search-forward

# Use any entered text as the prefix for searching command history
"\e[B": history-search-forward
"\e[A": history-search-backward

Meta-p: history-search-backward
Meta-n: history-search-forward

# 3 Commands For Changing Text

# Set Delete/Insert keys to delete/insert chars on line
"\e[3~": delete-char
"\e[2~": quoted-insert

# 4 Killing And Yanking

# Use Alt/Meta + Delete to delete the preceding word
"\e[3;3~": kill-word

# 5 Specifying Numeric Arguments

# 6 Letting Readline Type For You

# 7 Keyboard Macros

# 8 Some Miscellaneous Commands
